@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar{
    width: 8px;
}
img{
    border-style: none;
    vertical-align: middle;
    -o-object-fit: cover;
    object-fit: cover;
    height: auto;
    width: auto;
}

.breadcump::before{
    content: "";
    background: rgba(49, 105, 150, 0.95);
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
    position: absolute;
}
.sliderItem::before{
    content: "";
    background: rgba(49, 105, 150, 0.95);
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
    position: absolute;
}
.sliderItem h1{
    color: #fff;
    font-size: 40px;
    
    text-align: center;
}
.sliderItem p{
    color: #fff;
    padding: 30px 0;
    text-align: center;
}
.services:nth-child(1){
    background: #10446B;
}
.services:nth-child(2){
    background: #0F3E60;
}
.services:nth-child(3){
    background: #10446B;
}
.services:nth-child(4){
    background: #124A72;
}
.services{
    transition: all .3s linear;
    overflow: hidden;
}
.services::before{
    content: "";
    background: linear-gradient(180deg, #4A9CC2 0%, #124972 128.6%);
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.3s linear;
    transform: scaleY(0) scaleX(0) rotate(0deg);
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
}
.services:hover::before{
    transform: scaleX(1) scaleY(1) rotate(360deg);
    opacity: 1;
}
.services:hover .current{
    display: none;
}
.services:hover .onhover{
    display: block;
}