@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
    --rgba1:rgba(0, 62, 101, 0.89);
    --rgba2:rgba(0, 0, 0, 0.89);
}
::-webkit-scrollbar{
    width: 8px;
}
img{
    border-style: none;
    vertical-align: middle;
    -o-object-fit: cover;
    object-fit: cover;
    height: auto;
    width: auto;
}

.breadcump::before{
    content: "";
    background: rgba(49, 105, 150, 0.95);
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
    position: absolute;
}
.sliderItem::before{
    content: "";
    background: rgba(49, 105, 150, 0.95);
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
    position: absolute;
}
.sliderItem h1{
    color: #fff;
    font-size: 40px;
    
    text-align: center;
}
.sliderItem p{
    color: #fff;
    padding: 30px 0;
    text-align: center;
}
.services:nth-child(1){
    background: #10446B;
}
.services:nth-child(2){
    background: #0F3E60;
}
.services:nth-child(3){
    background: #10446B;
}
.services:nth-child(4){
    background: #124A72;
}
.services{
    transition: all .3s linear;
    overflow: hidden;
}
.services::before{
    content: "";
    background: linear-gradient(180deg, #4A9CC2 0%, #124972 128.6%);
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all 0.3s linear;
    transform: scaleY(0) scaleX(0) rotate(0deg);
    top: 0;
    left: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
}
.services:hover::before{
    transform: scaleX(1) scaleY(1) rotate(360deg);
    opacity: 1;
}
.services:hover .current{
    display: none;
}
.services:hover .onhover{
    display: block;
}
.spesfics{
    transition: all .3s linear;
}
.spesfics:hover{
    background: #124972 ;
}
.spesfics:hover *{
    color: #fff;
}
.spesfics:hover .current{
    display: none;
}
.spesfics:hover .onhover{
    display: block;
}
.transition{
    transition: all 0.6s ease;
}
.project_box::before{
    content: "";
    background: rgba(49, 105, 150, 0.95);
    height: 100%;
    width: 100%;
    mix-blend-mode: multiply;
    position: absolute;
    transition: all 0.4s linear;
    transform: scaleY(0) scaleX(0);
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    opacity: 0;
}
.project_box:hover::before{
    transform: scaleY(1) scaleX(1);
    opacity: 1;
}
.project_box:hover .text{
    bottom: 0;
    opacity: 1;
}
.footer_bg{
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;

}